.b-header {
  .title {
    padding: 0.5em;
    a {
      color: var(--tertiary);
    }
    &:visited {
      color: var(--tertiary);
    }
  }

  .menu-panel li a.widget-link {
    width: auto;
  }

  > ul.icons {
    margin: 0 15px 0 -5px;

    a {
      width: max-content !important;
      height: max-content !important;
      line-height: 0px !important;
    }
  }
}

#toggle-hamburger-brand-menu {
  margin: 0;

  .d-icon {
    font-size: 1.4em;
    vertical-align: middle;
  }
}

.profiler-results {
  display: none;
}

// applies when show_bar_on_mobile is checked
.above-site-header-outlet .b-header {
  width: 100%;
  background-color: var(--tertiary);
  height: 48px;
  margin-bottom: 0;

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: var(--secondary);
    }
    &:visited {
      color: var(--secondary);
    }
    .rtl & {
      float: right;
      margin-left: 24px;
      margin-right: 0;
    }
  }
  .title {
    padding: 0px;
  }
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.title .panel-body ul {
  display: flex;
  flex-direction: column;
}

.header-dropdown-toggle.hamburger-dropdown {
  display: none;
}

.mobile-hash-sidebar {
  padding: 20px;
  padding-top: 10px;
  overflow: hidden;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  .close-icon {
    margin-bottom: 20px;
    display: flex !important;
    height: 100%;

    img {
      height: max-content;
      margin-top: 4px;
      margin-right: 10px;
      height: max-content;
    }
  }

  .heading {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    /* identical to box height */

    text-transform: uppercase;

    color: #7f8487;
    margin-bottom: 20px;
  }

  .forum-list {
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;

    color: #000000;
    margin-bottom: 30px;

    div {
      margin-bottom: 20px;
    }

    img {
      margin-right: 10px;
    }

    a {
      display: flex;
      align-items: center;
    }

    .category-box {
      background: black;
      height: 14px;
      width: 14px;
      border-radius: 3px;
      display: inline-block;
      margin-right: 5px;
    }
  }
}

div.title > a {
  font-size: 20px;
}

header {
  div.title > a {
    line-height: 0px;
  }
}

.d-header {
  .title {
    white-space: inherit;
  }

 
}

#toggle-hamburger-brand-menu svg {
  color: black;
}

#site-logo {
  height: 1em;
}

.learning-hash-banner.mobile {
  background: rgba(0, 0, 0, 0.04);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;

  span {
    color: #646c74;
  }

  a {
    padding: 5px 0 10px 0;
    display: inline-block;
    width: 100%;
  }

  .learn-styles {
    padding: 13px 0px 10px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .link {
    padding-top: 0px;
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 12px;
    }
  }

  .active-mobile-link.link:not(first-child) {
    padding-top: 3px;
  }

  .active-mobile-link {
    border-bottom: 3px solid #2482ff;

    padding-bottom: 7px;
    margin-bottom: 10px;
  }

  svg {
    transition: all 0.1s;
  }

  .rah-static {
    max-height: 0px;
    transition: 0.1s ease max-height;
    overflow: hidden;
  }

  &.open {
    .learn-styles {
      svg {
        transform: rotate(180deg);
      }
    }

    .rah-static {
      max-height: 9999px;
    }
  }

  a > span {
    color: black;
    display: flex;
    align-items: center;
  }
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  user-select: none;
}
