@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

.title .panel-body ul {
    display: flex;
    flex-direction: column;
}

.header-dropdown-toggle.hamburger-dropdown {
    display: none;
}

.mobile-hash-sidebar {
    padding: 20px;
}

.mobile-hash-sidebar a {
  color: inherit;
  text-decoration: inherit;
}

.mobile-hash-sidebar .heading {
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  /* identical to box height */

  text-transform: uppercase;

  color: #7f8487;
  margin-bottom: 12px;
}

.mobile-hash-sidebar .forum-list {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
  margin-bottom: 30px;
}

.mobile-hash-sidebar .forum-list div {
  margin-bottom: 10px;
}

.mobile-hash-sidebar .forum-list img {
  margin-right: 5px;
}

.mobile-hash-sidebar .forum-list .category-box {
  background: black;
  height: 14px;
  width: 14px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 5px;
}
