@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
    font-family: Inter;
}

.b-header {
  .contents {
    margin: 8px 0;
  }

  #brand-logo {
    max-height: 32px;
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
  }

  nav.links {
    float: left;
    .rtl & {
      float: right;
    }
  }

  .nav-pills {
    margin: 0;
    > li > a {
      color: var(--secondary);
      line-height: 22px;
      &:hover {
        color: var(--quaternary);
        background-color: var(--quaternary-low);
      }
      &.active > a,
      > a.active {
        color: var(--secondary);
        background-color: var(--quaternary);
      }
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
      margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a,
    .d-icon {
      color: var(--secondary);
    }
    .rtl & {
      float: left;
    }
  }
}

.b-header {
  background-color: white !important;
}

.b-header .nav-pills>li>a {
  color: black !important;
  transition: opacity 0.1s;
  border-bottom: 4px solid transparent;
  font-weight: 600;
  
  padding: 0px !important;
  margin: 6px 12px;
  margin-bottom: 2px;
}

.b-header .nav-pills>li>a:hover {
  opacity: 0.8;
  background-color: white !important;
  border-bottom: 4px solid #dbe0e3;
}
