.b-header {
  width: 100%;
  background-color: var(--tertiary);
  height: 48px;
  margin-bottom: 0;
  border-bottom: 1px solid #e5e5e5;

  .align-center {
    display: flex;
    align-items: center;
  }

  .title {
    float: left;
    margin-right: 24px;
    a {
      color: var(--secondary);
    }
    &:visited {
      color: var(--secondary);
    }
    .rtl & {
      float: right;
      margin-left: 24px;
      margin-right: 0;
    }
  }
}

.b-header {
  height: 96px !important;
  display: flex;
  align-items: center;

  .wrap {
    width: 100%;
  }

  .contents {
    margin: 8px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .no-display {
      display: none;
    }
  }

  #brand-logo {
    max-height: 32px;
  }

  #brand-text-logo {
    line-height: 32px;
    margin: 0;
  }

  nav.links {
    float: left;
    .rtl & {
      float: right;
    }
  }

  .nav-pills {
    margin: 0;
    > li > a {
      color: var(--secondary);
      line-height: 22px;
      &:hover {
        color: var(--quaternary);
        background-color: var(--quaternary-low);
      }
      &.active > a,
      > a.active {
        color: var(--secondary);
        background-color: var(--quaternary);
      }
    }
  }

  .panel {
    float: right;
    position: relative;
    .rtl & {
      float: left;
    }
  }

  ul.icons {
    text-align: center;
    margin: 0 0 0 5px;
    > li {
      float: left;
      list-style: none;
    }
    a {
      width: 28px;
      height: 28px;
      font-size: 16px;
      line-height: 28px;
      display: inline-block;
      margin: 2px;
    }
    .rtl & {
      margin: 0 5px 0 0;
      > li {
        float: right;
      }
    }
  }

  .panel > ul.icons {
    float: right;
    a,
    .d-icon {
      color: var(--secondary);
    }
    .rtl & {
      float: left;
    }
  }
}

.d-header {
  #site-logo {
    height: 2rem;
  }

  .header-buttons {
    display: none;
  }
}

.learning-hash-banner {
  background: #f5f5f5;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;

  span {
    color: #646c74;
  }
}

.learning-hash-banner a > span {
  color: black;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  height: 20px;
}

.learning-hash-banner .desktop .learn-styles {
  margin: 15px 20px 12px 0px;
  display: inline-block;
}

.learning-hash-banner .desktop a {
  padding: 11px 0 12px 0;
  display: inline-block;
}

.learning-hash-banner .desktop > :not(:last-child) {
  margin-right: 20px;
}

.learning-hash-banner .desktop a {
  border-bottom: 3px solid transparent;
  -webkit-transition: border-color 0.2s;
  -o-transition: border-color 0.2s;
  transition: border-color 0.2s;
}

.learning-hash-banner .desktop a:hover {
  border-color: rgba(36, 130, 255, 0.6);
}

.learning-hash-banner .desktop a.active-case {
  border-color: #2482ff;
}

.logo-component {
  display: flex;
  align-items: center;

  .container {
    width: 8rem;
    height: 8rem;
  }

  .vertical1 {
    opacity: 0.8;
    background: linear-gradient(-180deg, #00b8ff, #0010ff, #00b8ff, #0010ff);
    background-size: 100% 300%;
    width: 28%;
    height: 100%;
    position: relative;
    left: 16%;
  }

  .vertical2 {
    opacity: 0.8;
    background: linear-gradient(0deg, #00bbff, #0046ff, #00bbff, #0046ff);
    background-size: 100% 300%;
    width: 28%;
    height: 100%;
    position: relative;
    left: 56%;
    top: -100%;
  }

  .horizontal1 {
    opacity: 0.8;
    background: linear-gradient(to right, #0050ff, #ff00ee, #0050ff, #ff00ee);
    background-size: 300% 100%;
    width: 100%;
    height: 28%;
    position: relative;
    top: -184%;
  }

  .horizontal2 {
    opacity: 0.8;
    background: linear-gradient(to right, #ff00e8, #0080ff, #ff00e8, #0080ff);
    background-size: 300% 100%;
    width: 100%;
    height: 28%;
    position: relative;
    top: -172%;
  }

  .hash-letters div,
  .hash-letters svg {
    height: 100%;
    width: unset;
  }

  &.mono {
    .vertical1 {
      background: rgba(0, 0, 0, 0.95);
      opacity: 0.9;
    }

    .vertical2 {
      background: rgba(0, 0, 0, 0.85);
      opacity: 0.89;
    }

    .horizontal1 {
      background: rgba(0, 0, 0, 0.9);
      opacity: 0.88;
    }

    .horizontal2 {
      background: #000000;
      opacity: 0.87;
    }
  }
}
